# Copyright (c) 2026 Jean-Pierre De Jesus DIAZ <me@jeandudey.tech>
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_TURPIAL
	select SOC_CC1312R if BOARD_TURPIAL_CC1312R
	select SOC_ESP32_WROVER_E_N4R8 if BOARD_TURPIAL_ESP32_APPCPU
	select SOC_ESP32_WROVER_E_N4R8 if BOARD_TURPIAL_ESP32_PROCPU
	select SOC_ESP32_APPCPU if BOARD_TURPIAL_ESP32_APPCPU
	select SOC_ESP32_PROCPU if BOARD_TURPIAL_ESP32_PROCPU
